.item-details {
  display: flex;
  padding: 1rem;
  width: 100%;
  border-radius: 10px;
}

.card-body {
  display: flex;
  padding: 0;
  flex-direction: row;
  min-height: 155px;
}

.item-details .item-image {
  width: 200px;
  height: 155px;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 10px;
}

.card-body .list-group {
  width: 100%;
}

.item-details .rhap_total-time {
  display: none;
}

.item-details .list-group-item {
  padding: 0.25rem 0.75rem;
}

@media (max-width: 1199px) {
  .item-details .card-body {
    flex-direction: column;
  }

  .item-details .item-image {
    margin: 0 auto 15px;
  }

  .item-details .audio-wrapper {
    margin: 5px 0;
  }
}
